@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.wrapper {
  width: 100%;
  max-width: 780px;
  @include display(flex, row, space-between, center, 0, 0);

  label {
    @include display(flex, column, flex-start, flex-start, 5px, 0);

    h2 {
      @include font("Montserrat", 600, 1.8rem, none, inherit, 0, 30px);
      margin: 0;
    }

    p {
      @include font("Montserrat", 500, 1rem, none, inherit, 0, 20px);
      color: #717171;
      margin: 0;
    }
  }
}

.image {
  margin: 0;
  border-radius: 100%;
  border: 4px solid $white;
  outline: 3px solid $lightBlue;

  box-shadow: $box-shadow;
}
