@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  background-color: #f2f2f2;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  background-color: #e29c52;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
}

button:hover {
  background-color: #51bd99;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
}
